/* Adaptación para ancho variable de monitores de más de 1300px de ancho. */
@media screen and (min-width: 1300px) {

    body{
        background-color: white;
    }
  
  }
  
  /* Adaptación de ancho fijo de resoluciones de 900 a 1300px de ancho. */
  @media screen and (min-width: 900px) and (max-width: 1300px) {
  
    body{
        background-color: black;
    }
  
    .mainmovil{
        width: 100%;
    }
  
  
    
  }
  
  
  
  
  /* Portrait IPAD */
  @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1) {
  
    body{
        background-color: rgb(147, 168, 231);
    }
  
    .mainmovil{
        width: 100%;
    }
  
  
  }
  
  /* Landscape IPAD */
  @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
  
    body{
        background-color: rgb(147, 168, 231);
    }
  
    .mainmovil{
        width: 100%;
    }
  
  }
    
  /* Portrait IphoneX */
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) { 
    
    body{
        background-color: rgb(117, 133, 184);
    }
  
    .mainmovil{
        width: 100%;
    }
  
  }
  
  /* Landscape IphoneX */
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) { 
  
    body{
        background-color: rgb(117, 133, 184);
    }
  
    .mainmovil{
        width: 100%;
    }
  
  }


/*En esta etiqueta le daremos el aspecto que queremos que tenga el menú desplegable más adelante*/
        
a{
    font-size: 20px;
 }

a:link {
    color:red;
} 

a:active {
    color:green;/* en el momento de hacer click */
}

a:hover, a:focus { /*Una vez pasemos el cursor por encima*/
    color:blue;
    cursor: crosshair;
} 

a:visited { /* Una vez lo hayamos visitado se quedará de este color*/
    color:rgb(181, 223, 240);
}

ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
}

li {
    float: left;
}

li a {
 display: inline-block;
 color: white;
 text-align: center;
 padding: 14px 16px; 
 padding: 14px 16px;
 padding: 14px 16px; 
 text-decoration: none;
}
/* Cuando pasemos el puntero por encima nos marcará el fonde en color negro escuro */

li a:hover {
 background-color: #111;
}

.active {
  background-color: red;
}
 



main {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    
    overflow: auto;
    background-color: rgb(159, 128, 180);
}

section {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    
    overflow: auto;
    background-color: rgb(240, 140, 110);


}

aside{

    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
   
    overflow: auto;
    background-color: rgb(120, 213, 230);

}

footer{

    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
   
    overflow: auto;
    background-color: rgb(219, 167, 240);

}